
  <!-- Page Title
      ============================================= -->
  <section id="page-title" class="page-title-mini" *ngIf="isJobPageReady">

    <div class="container clearfix">
      <h1>{{job.talent.name}}</h1>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Jobs</a></li>
        <li class="active"><a href="#">Job</a></li>
      </ol>
    </div>

  </section><!-- #page-title end -->

  <!-- Content
      ============================================= -->
  <section id="content" *ngIf="isJobPageReady">
    <div class="content-wrap">

      <div class="single-event">

        <div class="entry-image parallax header-stick" style="background-image: url('../../assets/images/events/10.jpg'); height:475px" data-stellar-background-ratio="0.3">
          <div class="entry-overlay-meta">
            <h2><a href="#">{{job.talent.name}}</a></h2>
            <ul class="iconlist">
              <li><i class="icon-calendar3"></i> <strong>Date:</strong>{{job.date | date:"dd MMM yyyy"}}</li>
              <li><i class="icon-time"></i> <strong>Timing:</strong> 20:00 - 02:00</li>
              <li><i class="icon-map-marker2"></i> <strong>Localisation:</strong>{{job.address}}</li>
              <li><i class="icon-euro"></i> <strong>99.99</strong></li>
            </ul>
            <a href="#" class="btn btn-danger btn-block btn-lg">Proposer mon aide</a>
          </div>
          <div class="entry-overlay">
            <div id="event-countdown" class="countdown is-countdown">
              <span class="countdown-row countdown-show4">
                <span class="countdown-section">
                  <span class="countdown-amount" >{{days}}</span>
                  <span class="countdown-period">Jours</span>
                </span>
                <span class="countdown-section">
                  <span class="countdown-amount" >{{hours}}</span>
                  <span class="countdown-period">Heures</span>
                </span>
                <span class="countdown-section">
                  <span class="countdown-amount">{{minutes}}</span>
                  <span class="countdown-period" >Minutes</span>
                </span>
                <span class="countdown-section">
                  <span class="countdown-amount">{{seconds}}</span>
                  <span class="countdown-period" >Secondes</span>
                </span>
              </span>
            </div>
          </div>
        </div>


        <div class="container topmargin clearfix">

          <div class="postcontent nobottommargin clearfix">

            <div class="col_two_third">

              <h3>Details</h3>
              <strong>De quoi ai-je besoin ?</strong>
              <p>{{job.description}}</p>


              <h4>Inclusions</h4>

              <div class="col_half nobottommargin">

                <ul class="iconlist nobottommargin">
                  <li><i class="icon-ok"></i> Return Flight Tickets</li>
                  <li><i class="icon-ok"></i> All Local/Airport Transfers</li>
                  <li><i class="icon-ok"></i> Resort Accomodation</li>
                  <li><i class="icon-ok"></i> Adventure Activities</li>
                </ul>

              </div>

              <div class="col_half nobottommargin col_last">

                <ul class="iconlist nobottommargin">
                  <li><i class="icon-ok"></i> Local Guides</li>
                  <li><i class="icon-ok"></i> Support Staff</li>
                  <li><i class="icon-ok"></i> Personal Security</li>
                  <li><i class="icon-ok"></i> VISA Fees &amp; Medical Insurance</li>
                </ul>

              </div>
              <div class="clear"></div>
              <div class="widget quick-contact-widget clearfix">

                <h4>Des questions ?</h4>
                <div class="quick-contact-form-result"></div>
                <form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">
                  <div class="form-process"></div>

                  <textarea class="required sm-form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
                  <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
                  <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin" value="submit">Envoyer</button>
                </form>

              </div>
            </div>


            <div class="col_one_third col_last">

              <div class="sidebar-widgets-wrap">

                <h4>Localisation</h4>


                <sebm-google-map [latitude]="job.location.latitude"
                                 [longitude]="job.location.longitude"
                                 [zoom]="15"
                                 [disableDefaultUI]="false"
                                 [zoomControl]="false">
                  <sebm-google-map-marker
                    [latitude]="job.location.latitude"
                    [longitude]="job.location.longitude"
                    [label]=""
                    [markerDraggable]="false"
                  >
                    <sebm-google-map-info-window>
                      <strong>{{job.address}}</strong>
                    </sebm-google-map-info-window>
                  </sebm-google-map-marker>
                </sebm-google-map>


              </div>

            </div>

            <div class="clear"></div>





          </div>
<!--
          <div class="sidebar nobottommargin col_last clearfix">
            <div class="sidebar-widgets-wrap">

              <h4>Location</h4>


                <sebm-google-map [latitude]="job.location.latitude"
                                 [longitude]="job.location.longitude"
                                 [zoom]="15"
                                 [disableDefaultUI]="false"
                                 [zoomControl]="false">
                  <sebm-google-map-marker
                    [latitude]="job.location.latitude"
                    [longitude]="job.location.longitude"
                    [label]=""
                    [markerDraggable]="false"
                  >
                    <sebm-google-map-info-window>
                      <strong>blabla</strong>
                    </sebm-google-map-info-window>
                  </sebm-google-map-marker>
                </sebm-google-map>


            </div>
          </div>
-->

        </div>

      </div>

    </div>

  </section><!-- #content end -->


