<!-- Page Title
		============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Talents</h1>
    <span>Choisissez votre TalentWorker</span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">TalentWorkers</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
    ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Post Content
                ============================================= -->
      <div class="postcontent nobottommargin col_last">

        <!-- Shop
                    ============================================= -->
        <div id="shop" class="shop product-1 clearfix">

          <div *ngFor="let user of users" class="product clearfix">
            <div class="product-image">
              <a href="#"><img src="../../assets/images/shop/dress/1.jpg" alt="Checked Short Dress"></a>
              <a href="#"><img src="../../assets/images/shop/dress/1-1.jpg" alt="Checked Short Dress"></a>
              <div class="product-overlay">
                <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
              </div>
            </div>
            <div class="product-desc">
              <div class="product-title"><h3><a [routerLink]="['../talent']"> {{user.name}}</a></h3></div>
              <div class="product-price"><del>24.99€/hour</del> <ins>12.49€/hour</ins></div>
              <div class="product-rating">
                <i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star-half-full"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, sit, exercitationem, consequuntur, assumenda iusto eos commodi alias aut ipsum praesentium officia pariatur doloremque dolor tenetur esse vitae voluptatibus inventore delectus. Eaque laboriosam quaerat accusamus! Porro, laboriosam temporibus dolorum doloremque dolorem ex ducimus recusandae repellat neque sapiente ab numquam rerum deleniti!</p>
              <ul class="iconlist">
                <li><i class="icon-caret-right"></i> Menage </li>
                <li><i class="icon-caret-right"></i> Baby-Sitting</li>
                <li><i class="icon-caret-right"></i> Cours à domicile</li>
                <li><i class="icon-caret-right"></i> Transport de colis</li>
              </ul>
            </div>
          </div>



        </div><!-- #shop end -->

      </div><!-- .postcontent end -->

      <!-- Sidebar
                ============================================= -->
      <div class="sidebar nobottommargin">
        <div class="sidebar-widgets-wrap">

          <div class="widget widget_links clearfix">

            <h4>Type de service</h4>
            <ul>
              <li><a href="#">Bricolage</a></li>
              <li><a href="#">Déménagement</a></li>
              <li><a href="#">Livraison</a></li>
              <li><a href="#">Cours/Coaching</a></li>
              <li><a href="#">Transport de colis</a></li>
              <li><a href="#">Cuisine</a></li>
              <li><a href="#">Ménage</a></li>
            </ul>
          </div>


        </div>
      </div><!-- .sidebar end -->

    </div>

  </div>

</section><!-- #content end -->
