#map {
  height: 200px;
}
li.active span{
  background-color: #1ABC9C !important;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-color: #1ABC9C !important;
}
.sebm-google-map-container {
  height: 300px;
}
