<!-- Page Title
		============================================= -->
<section id="page-title" class="page-title-mini">

  <div class="container clearfix">
    <h1>Service de {{jobType}}</h1>
    <span>Deposer ma demande </span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Nouveau service</li>
    </ol>
  </div>

</section>
<!-- #page-title end -->

<!-- Content
    =============================================-->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div id="processTabs" [ngSwitch]="step">

        <ul class="process-steps process-5 clearfix">

          <li [ngClass]="{'active': step===steps.INPUT_REQUEST_STEP}">
            <span href="#" class="i-bordered i-circled i-alt divcenter bgcolor icon-pencil2"
                  (click)="changeStep(steps.INPUT_REQUEST_STEP)"></span>
            <h5>Je saisis ma demande</h5>
          </li>
          <li [ngClass]="{'active': step===steps.NOTIFY_STEP}">
            <span href="#" class="i-bordered i-circled divcenter icon-bullhorn"
                  (click)="changeStep(steps.NOTIFY_STEP)"></span>
            <h5>J'avertis les talents à proximité</h5>
          </li>
          <li [ngClass]="{'active': step===steps.SELECT_TALEENT_STEP}">
            <span href="#" class="i-bordered i-circled i-alt divcenter bgcolor icon-like"
                  (click)="changeStep(steps.SELECT_TALEENT_STEP)"></span>
            <h5>Je choisi le meilleur talent</h5>
          </li>
          <li [ngClass]="{'active': step===steps.BUY_STEP}">
            <span href="#" class="i-bordered i-circled divcenter icon-money"
                  (click)="changeStep(steps.BUY_STEP)"></span>
            <h5>Je paie</h5>
          </li>
          <li [ngClass]="{'active': step===steps.DONE_STEP}">
            <span href="#" class="i-bordered i-circled divcenter icon-ok" (click)="changeStep(steps.DONE_STEP)"></span>
            <h5>C'est fini !</h5>
          </li>
        </ul>

        <div class="container clearfix" id="ptab1" *ngSwitchCase="steps.INPUT_REQUEST_STEP">
          <div>
            <h3>Où ?</h3>
            <div class="nobottommargin">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="icon-map-marker"></i></span>
                <input #autocompleteInput type="text" id="location-input" name="location-input" class="form-control"
                       id="autocompleteInput" [(ngModel)]="address"
                       placeholder="Où est-ce que j'ai besoin d'un service de {{jobType}} ?">
                <span class="input-group-btn">
                  <button class="btn btn-default" id="location-submit" (click)="test()" type="submit"><i
                    class="icon-line-search"></i></button>
                </span>
              </div>

            </div>


            <!--<div *ngIf="mapReady" id="map"></div>-->
            <sebm-google-map [latitude]="job.location.latitude"
                             [longitude]="job.location.longitude"
                             [zoom]="zoom"
                             [disableDefaultUI]="false"
                             [zoomControl]="false">
              <sebm-google-map-marker
                [latitude]="job.location.latitude"
                [longitude]="job.location.longitude"
                [label]=""
                [markerDraggable]="false"
              >
                <sebm-google-map-info-window>
                  <strong>{{jobType}} à faire ici</strong>
                </sebm-google-map-info-window>
              </sebm-google-map-marker>

            </sebm-google-map>
          </div>
          <div class="line"></div>
          <div>
            <h3>Quand ?</h3>
            <form action="#" method="post" class="nobottommargin">
              <div class="input-daterange travel-date-group bottommargin-sm">
                <div class="row">
                  <div class="col-sm-6 bottommargin-sm">
                    <input type="date" value="2016-12-31" class="sm-form-control tleft today" placeholder="MM/DD/YYYY">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="line"></div>
          <div>
            <h3>Comment ?</h3>
            <div class="col_full">
              <label for="template-contactform-message">Detaillez brièvememnt ce dont vous avez besoin
                <small>*</small>
              </label>
              <textarea [(ngModel)]="job.description" class="required sm-form-control" id="template-contactform-message"
                        name="template-contactform-message" rows="6" cols="30"></textarea>
            </div>
            <div class="divider divider-center"><i class="icon-circle"></i></div>
            <a (click)="changeStep(steps.NOTIFY_STEP)" class="button button-3d nomargin fright tab-linker" rel="3">Etape
              Suivante</a>
          </div>

        </div>

        <div id="ptab2" *ngSwitchCase="steps.NOTIFY_STEP">
          <h4><strong>{{mapTalent.nbUsers}}</strong> Talents sont disponibles à proximité et sont maintenant avertis de
            votre besoin.</h4>
          <sebm-google-map [latitude]="job.location.latitude"
                           [longitude]="job.location.longitude"
                           [zoom]="12"
                           [disableDefaultUI]="false"
                           [zoomControl]="false"
                           (mapClick)="mapClicked($event)">
            <sebm-google-map-marker
              *ngFor="let m of mapTalent.markerTalents; let i = index"
              (markerClick)="clickedMarker(m.label, i)"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]=""
              [markerDraggable]="m.draggable"
            >
              <sebm-google-map-info-window>
                <strong>{{m.name}} est disponible !</strong>
              </sebm-google-map-info-window>
            </sebm-google-map-marker>

          </sebm-google-map>
          <div class="line"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, deleniti, atque soluta ratione
            blanditiis maxime at architecto laudantium eius eaque distinctio dolorem voluptatem nam ab molestias velit
            nemo. Illo, hic.</p>

          <div class="divider divider-center"><i class="icon-circle"></i></div>

          <a (click)="changeStep(steps.INPUT_REQUEST_STEP)" class="button button-3d nomargin tab-linker" rel="1">Saisir
            ma
            demande</a>
          <a (click)="changeStep(steps.SELECT_TALEENT_STEP)" class="button button-3d nomargin fright tab-linker"
             rel="3">Choisir
            le TalentWorker</a>
        </div>

        <div id="ptab3" *ngSwitchCase="steps.SELECT_TALEENT_STEP">
          <h3>Choississez votre TalentWorker</h3>
          <list-users [limit]="3"></list-users>

          <div class="divider divider-center"><i class="icon-circle"></i></div>
          <a (click)="changeStep(steps.NOTIFY_STEP)" class="button button-3d nomargin tab-linker" rel="2">Choisir le
            TalentWorker</a>
          <a (click)="changeStep(steps.BUY_STEP)" class="button button-3d nomargin fright tab-linker" rel="4">Payer le
            service</a>
        </div>
        <div id="ptab4" *ngSwitchCase="steps.BUY_STEP">
          <div class="container clearfix">
            <div class="col-md-6">
              <div class="table-responsive clearfix">
                <h4>Votre demande</h4>

                <table class="table cart">
                  <thead>
                  <tr>
                    <th class="cart-product-thumbnail">&nbsp;</th>
                    <th class="cart-product-name">Service</th>
                    <th class="cart-product-quantity">Nombre d'heure</th>
                    <th class="cart-product-subtotal">Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="cart_item">
                    <td class="cart-product-thumbnail">
                      <a href="#"><img width="64" height="64" src="../../assets/images/shop/thumbs/small/dress-3.jpg"
                                       alt="Pink Printed Dress"></a>
                    </td>

                    <td class="cart-product-name">
                      <a href="#">Pink Printed Dress</a>
                    </td>

                    <td class="cart-product-quantity">
                      <div class="quantity clearfix">
                        1x2
                      </div>
                    </td>

                    <td class="cart-product-subtotal">
                      <span class="amount">$39.98</span>
                    </td>
                  </tr>
                  <tr class="cart_item">
                    <td class="cart-product-thumbnail">
                      <a href="#"><img width="64" height="64" src="../../assets/images/shop/thumbs/small/shoes-2.jpg"
                                       alt="Checked Canvas Shoes"></a>
                    </td>

                    <td class="cart-product-name">
                      <a href="#">Checked Canvas Shoes</a>
                    </td>

                    <td class="cart-product-quantity">
                      <div class="quantity clearfix">
                        1x1
                      </div>
                    </td>

                    <td class="cart-product-subtotal">
                      <span class="amount">$24.99</span>
                    </td>
                  </tr>

                  </tbody>

                </table>

              </div>
            </div>
            <div class="col-md-6">
              <div class="table-responsive">
                <h4>Facture</h4>

                <table class="table cart">
                  <tbody>
                  <tr class="cart_item">
                    <td class="notopborder cart-product-name">
                      <strong>Sous total</strong>
                    </td>

                    <td class="notopborder cart-product-name">
                      <span class="amount">$106.94</span>
                    </td>
                  </tr>
                  <tr class="cart_item">
                    <td class="cart-product-name">
                      <strong>Frais de dossier</strong>
                    </td>

                    <td class="cart-product-name">
                      <span class="amount">Gratuit</span>
                    </td>
                  </tr>
                  <tr class="cart_item">
                    <td class="cart-product-name">
                      <strong>Total</strong>
                    </td>

                    <td class="cart-product-name">
                      <span class="amount color lead"><strong>$106.94</strong></span>
                    </td>
                  </tr>
                  </tbody>
                </table>

              </div>
              <div class="accordion clearfix">
                <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                  class="acc-open icon-remove-circle"></i>Direct Bank Transfer
                </div>
                <div class="acc_content clearfix">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam
                  id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere
                  velit aliquet.
                </div>

                <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                  class="acc-open icon-remove-circle"></i>Cheque Payment
                </div>
                <div class="acc_content clearfix">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                  Duis mollis, est non commodo luctus. Aenean lacinia bibendum nulla sed consectetur. Cras mattis
                  consectetur purus sit amet fermentum.
                </div>

                <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                  class="acc-open icon-remove-circle"></i>Paypal
                </div>
                <div class="acc_content clearfix">Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere
                  erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus. Aenean
                  lacinia bibendum nulla sed consectetur.
                </div>
              </div>
              <a (click)="changeStep(steps.DONE_STEP)" class="button button-3d fright">Payer</a>
            </div>


          </div>
        </div>
        <div id="ptab4" *ngSwitchCase="steps.DONE_STEP">
          <div class="alert alert-success">
            <strong>Merci de votre confiance</strong> Votre talent va prendre contact avec vous.
          </div>

        </div>
      </div>

      <div class="clear"></div>


      <div class="line visible-xs"></div>


    </div>

  </div>

</section><!-- #content end -->

