
<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">
  <div class="slider-parallax-inner">

    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide dark" style="background-image: url('../../assets/images/slider/rev/ken-2.jpg');">
          <div class="container clearfix">
            <div class="slider-caption slider-caption-center col-md-">
              <h2 data-caption-animate="fadeInUp" class="talented_title">Talented</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200" class="talented_title">The App that gives your time back and makes your life simply easier</p>
              <form action="#" method="get" role="form" class="divcenter nobottommargin">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control" placeholder="Search a service">
                  <span class="input-group-btn">
								<button class="btn btn-danger" type="button">Search</button>
							</span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="swiper-slide dark">
          <div class="container clearfix">
            <div class="slider-caption slider-caption-center">
              <h2 data-caption-animate="fadeInUp">Fast, Simple and secured</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200">
                TalentedApp will find in few minutes a talented worker located in your area who's willing to make your job done and your life easier
              </p>
            </div>
          </div>
          <div class="container clearfix">
            <div class="slider-caption slider-caption-center">
              <h2 data-caption-animate="fadeInUp">Fast, Simple and secured</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200">
                TalentedApp will find in few minutes a talented worker located in your area who's willing to make your job done and your life easier
              </p>
            </div>
          </div>

        </div>

      </div>
      <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
      <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
    </div>

    <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

  </div>
</section>
