<!-- Page Title
		============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Inscription</h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Inscription</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
    ============================================= -->

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

        <!--
        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login to your Account</div>
        <div class="acc_content clearfix">
          <form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
            <div class="col_full">
              <label for="login-form-username">Username:</label>
              <input type="text" id="login-form-username" name="login-form-username" value="" class="form-control"/>
            </div>

            <div class="col_full">
              <label for="login-form-password">Password:</label>
              <input type="password" id="login-form-password" name="login-form-password" value="" class="form-control" />
            </div>

            <div class="col_full nobottommargin">
              <button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
              <a href="#" class="fright">Forgot Password?</a>
            </div>
          </form>
        </div>
        -->

        <div class="acctitle"><i class="acc-closed icon-user4"></i><i class="acc-open icon-ok-sign"></i>Nouveau ?
          Devenez TalentWorker
        </div>
        <div [hidden]="submitted" class="acc_content clearfix">

          <form id="register-form" name="register-form" class="nobottommargin" action="#" method="post"
                (ngSubmit)="onSubmit()" #registerForm="ngForm">

            <div class="col_full">
              <label for="register-form-name">Nom:</label>
              <input type="text" id="register-form-name" name="register-form-name" class="form-control"
                     required minlength="4" maxlength="24"
                     [(ngModel)]="user.name" name="name"/>
            </div>
            <div *ngIf="formErrors.name" class="alert alert-danger">
              {{formErrors.name}}
            </div>


            <div class="col_full">
              <label for="register-form-email">Email:</label>
              <input type="text" id="register-form-email" name="register-form-email" value="" class="form-control"
                     [(ngModel)]="user.email" required/>
            </div>
            <div *ngIf="formErrors.email" class="alert alert-danger">
              {{formErrors.email}}
            </div>

            <div class="col_full">
              <label for="register-form-username">Username</label>
              <input type="text" id="register-form-username" name="register-form-username" value=""
                     class="form-control" [(ngModel)]="user.userName" required/>
            </div>
            <div *ngIf="formErrors.userName" class="alert alert-danger">
              {{user.userName}}
            </div>

            <div class="col_full">
              <label for="register-form-phone">Telephone:</label>
              <input type="text" id="register-form-phone" name="register-form-phone" value="" class="form-control"
                     [(ngModel)]="user.phone"/>
            </div>
            <!--
                                    <div class="col_full">
                                      <div><label for="register-form-jobtype">Jobs your willing to do:</label></div>
                                      <select id="register-form-jobtype" class="selectpicker" id="jobType" required [(ngModel)]="user.jobType"
                                              name="jobType" multiple>
                                        <option *ngFor="let jobType of jobTypes" [value]="jobType">{{jobType}}</option>
                                      </select>
                                    </div>

                       <div class="form-group">
                         <label for="register-form-jobtype">Jobs your willing to do:</label>
                         <select id="register-form-jobtype" class="form-control"
                                 name="jobType"
                                 [(ngModel)]="user.jobType" required multiple>
                           <option *ngFor="let jobType of jobTypes" [value]="jobType">{{jobType}}</option>
                         </select>
                       </div>
                -->

            <div class="col_full">
              <label for="register-form-password">Mot de passe:</label>
              <input type="password" id="register-form-password" name="register-form-password" value=""
                     class="form-control" [(ngModel)]="user.password" required/>
            </div>

            <div class="col_full">
              <label for="register-form-repassword">Confirmez votre mot de passe:</label>
              <input type="password" id="register-form-repassword" name="register-form-repassword" value=""
                     class="form-control" required/>
            </div>

            <div class="col_full nobottommargin">
              <button type="submit" [disabled]="!registerForm.form.valid" class="button button-3d button-black nomargin"
                      id="register-form-submit"
                      name="register-form-submit" value="register">Devenir TalentWorker
              </button>
            </div>
          </form>

        </div>

      </div>

    </div>

  </div>

</section>
<!-- #content end -->

